<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/normal.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/froala_editor.min.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <style>
        .froala-editor{
            border: 0;
        }
        .froala-element.f-basic{
            border: 0;
        }
    </style>
</head>
    <body class="body">
        <!--左边：导航区-->
        <%- include('./home.ejs')%>
        <!--中间：内容区-->
        <!--文章列表显示-->
        <div class="labelCont" id="labelCont">
            <div class="label-title">
                <img class="label-big-icon left" src="/images/article-title.png" alt="文章列表">
                <span class="label-manage">文章列表</span>
                <img class="label-big-icon subtract right" src="/images/subtract.png" alt="删除文章">
            </div>
            <!--<ul class="labels">-->
                <!--<li class="labels-li">-->
                    <!--<div class="labels-title">URL参数解析方法</div>-->
                    <!--<div class="labels-date">2017-01-12 16:42:09</div>-->
                <!--</li>-->
            <!--</ul>-->
            <% if (resultArticles.length) { %>
            <ul class="labels">
                <% resultArticles.forEach(function(item){ %>
                <li class="labels-li" id="<%- item._id%>">
                    <div class="labels-title"><%- item.blogName%> <a href="/body/articleList?d_id=<%-item._id%>" style="display: none" class="glyphicon glyphicon-remove right" aria-hidden="true"></a></div>
                    <div class="labels-date"><%- item.blogTime%></div>
                </li>
                <% }) %>
                <li class="clear"></li>
            </ul>
            <% } %>
        </div>
        <!--右边：内容区-->
        <!--文章列表文章显示-->
        <!--<div class="articleContentShow" id="articleContentShow">-->
            <!--<p class="articleShow-title">URL参数解析方法</p>-->
            <!--<div class="article-cont">-->
                <!--<p class="article-cont-p">-->
                    <!--这几天遇到这样一个需求，需要在不同页面之间传递参数，一般我们都是通过URL来传递，如下：-->
                <!--</p>-->
                <!--<div class="article-cont-div">-->
                    <!--window.open('test.html?id=123&name=456);-->
                <!--</div>-->
                <!--<p class="article-cont-p">-->
                    <!--然后在新窗口的时候我们再用window.location.search方法获取?后面的参数内容，但是拿到的内容是“?id=123&name=456”-->
                    <!--这样的形式，我们还需要进行一系列的字符串处理才能拿到我们需要的信息，这样就比较麻烦一些了，所以我们就基于这个需求-->
                    <!--封装一个工具方法来把参数后面的内容解析成一个对象字面量来供我们使用，代码如下：-->
                <!--</p>-->
                <!--<div class="article-cont-div">-->
                    <!--"function urlParse(){-->
                    <!--var url=window.location.search;-->
                    <!--var obj={};-->
                    <!--var reg=/[?&][^?&]+=[^?&]+/g;//正则的意思是开头是?或者&符号，之后接着的是xxx=xxx的形式，其中xxx都不能有?和&-->
                    <!--var arr=url.match(reg);//match返回匹配到的值至数组中-->
                    <!--if(arr){-->
                    <!--arr.forEach(function(item){-->
                    <!--var tempArr=item.substring(1).split('=');-->
                    <!--var key=decodeURIComponent(tempArr[0]);//decodeURIComponent() 函数可对 encodeURIComponent() 函数编码的 URI 进行解码。<br>-->
                    <!--var val=decodeURIComponent(tempArr[1]);-->
                    <!--obj[key]=val;-->
                    <!--});-->
                    <!--}-->
                    <!--return obj;-->
                    <!--}-->
                    <!--urlParse();//return {id:123,name:456}"-->
                <!--</div>-->
                <!--<p>-->
                    <!--这样只要在新窗口调用这个方法我们就能返回一个对象字面量的参数来供我们使用了。-->
                <!--</p>-->
            <!--</div>-->
            <!--<button type="button" class="btn btn-info btn-modify"><span class="glyphicon glyphicon-pencil form-control-feedback pencil" aria-hidden="true"></span>不满意，点此修改</button>-->
        <!--</div>-->
        <div class="articleContentShow" id="articleContentShow">
            <p class="articleShow-title"><%- resultArticles[0].blogName%></p>
            <div class="article-cont"><%- resultArticles[0].blogText%></div>
            <button type="button" id="<%- resultArticles[0]._id%>" class="btn btn-info btn-modify"><span class="glyphicon glyphicon-pencil form-control-feedback pencil" aria-hidden="true"></span>不满意，点此修改</button>
        </div>
        <!--文章列表文章编辑-->
    </body>
<script type="text/javascript" src="/javascripts/home.js"></script>
<script type="text/javascript" src="/javascripts/body/articleList.js"></script>
<!--文本编辑器-->
<script src="/javascripts/froala_editor.min.js"></script>
<!--[if lt IE 9]>-->
<script src="/javascripts/froala_editor_ie8.min.js"></script>
<!--<![endif]-->
<script src="/javascripts/plugins/tables.min.js"></script>
<script src="/javascripts/plugins/lists.min.js"></script>
<script src="/javascripts/plugins/colors.min.js"></script>
<script src="/javascripts/plugins/media_manager.min.js"></script>
<script src="/javascripts/plugins/font_family.min.js"></script>
<script src="/javascripts/plugins/font_size.min.js"></script>
<script src="/javascripts/plugins/block_styles.min.js"></script>
<script src="/javascripts/plugins/video.min.js"></script>
</html>